################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleLogger/obj/Debug
/ConsoleLogger/bin/Debug
/Monolith/bin/Debug
/Monolith/obj/Debug
/MonolithConsole/bin/Debug
/MonolithConsole/obj/Debug
/packages/Newtonsoft.Json.8.0.3
/RandomNumber/bin/Debug
/RandomNumber/obj/Debug
/Unittest/bin/Debug
/Unittest/obj/Debug
/.vs/Monolith/v14
/Plugins/ConsoleLogger/obj/Debug
/Plugins/ConsoleLogger/bin/Debug
/Plugins/RandomNumber/bin/Debug
/Plugins/RandomNumber/obj/Debug
/Plugins/RestBridge/obj/Debug
/Plugins/RestBridge/bin/Debug
