################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Monolith/bin
/Monolith/obj
/packages/
/Unittest/bin
/Unittest/obj
/.vs/Monolith/v14
/Plugins/ConsoleLogger/obj
/Plugins/ConsoleLogger/bin
/Plugins/RandomNumber/bin
/Plugins/RandomNumber/obj
/Plugins/RestBridge/obj
/Plugins/RestBridge/bin
/Plugins/RuleEngine/obj
/Plugins/RuleEngine/bin
/Plugins/RFBridge/obj
/Plugins/RFBridge/bin
/Plugins/SQLiteStorage/obj
/Plugins/SQLiteStorage/bin
/Totem/obj
/Totem/bin
/Obelisk/obj
/Obelisk/bin
